*{
    padding: 0px;
    margin: 0px;
}

.img{
    display: inline-block;
    margin-top: 60px;
}
body{
    text-align: center;
    background-image: radial-gradient( circle 290px at 8.6% 46.4%,  rgba(255,148,148,1) 7.8%, rgba(255,223,155,1) 32.2%, rgba(255,247,177,1) 48.1%, rgba(216,255,177,1) 61%, rgba(177,255,253,1) 75.3% );
}
h1{
    margin-top: 70px;
    font-family: 'Sigmar One', cursive;
    text-shadow: 2px 2px #FF0000;
    font-size: 60px;
}

button{
    margin-top: 20px;
    padding: 20px;
    background-image: radial-gradient( circle 468px at 63.8% 80.2%,  rgba(231,246,56,1) 0%, rgba(232,186,52,1) 100.2% );
    border: none;
    font-family: 'Shrikhand', cursive;
    width: 90px;
    font-weight: bolder;
}
h3{
    font-family: 'Black Ops One', cursive;
    color: darkorange;
    text-shadow: 2px 2px violet;
}